.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  background: rgba(15, 23, 42, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
 
}

.modal {
  width: 620px;
  background: #fff;
  padding: 5px 24px 10px;
  border-radius: 50px ;
  box-shadow: 0 15px 35px rgba(0,0,0,0.25);
  animation: pop 0.25s ease;
   border : 5px solid rgb(133, 129, 236);
}

@keyframes pop {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}


.modal h2 {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  margin-bottom :30px;
  text-align: center;
  color: rgb(65, 65, 230);
  

}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.form-grid label {
  font-size: 12px;
  font-weight: 540;
  color: #5d5e61;
}

.form-grid input {
  width: 100%;
  margin-top: 2px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.form-grid input:focus {
  border-color: #2563eb;
  outline: none;
}

.modal-buttons {
  margin: 10px ;
  display: flex;
  justify-content: space-between;
}

.save-btn {
  padding: 8px 14px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.save-btn:hover {
  background: #1e40af;
}

.cancel-btn {
  padding: 8px 14px;
  background: #e5e7eb;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-btn:hover {
  background: #d1d5db;
} 
